<!--
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelpDesk::프로필</title>
</head>
<body>
    This is the profile page for {{profile.user}}   
    <div>
        <br />
        {% if profile.image %}
        <img src = "{{ profile.image.url }}" width="200" height="200" />
        {% else %}
        <img src="{% static 'user.png' %}" width="200" height="200" />
        {% endif %}
        <br />
    </div>
    <div>
        nickname : {{profile.nickname}}
    </div>
    <div>
        school : {{profile.school}}
    </div>
    <div>
        git : {{profile.git_address}}
    </div>
    <div>
        내 소개 : {{profile.bio}} 
    </div>
    <div>
        나의 등급 : 
        {% if 3 >= profile.adopted_answer %}
            초보
        {% elif 10 >= profile.adopted_answer %}
            중수
        {% else %}
            고수
        {% endif %}
    </div>
    <div>
        채택 받은 나의 답변수 : {{profile.adopted_answer}}
    </div>
    <br>
    {% if user == profile.user %}
    <div>
        내 질문
        {% for question in question_list %}
            {% if question.author == profile.user %}
                <div>
                    <a href=""> {{question.subject}} </a>
                </div>
            {% endif %}
        {% endfor %}
        <div>
            <a href="../profile/update_profile">
                <button>
                    수정하기
                </button>
            </a>
            <a href="{% url 'index' %}">
                <button>
                    home
                </button>
            </a>
        </div>    
    </div>
    {% endif %}

</body>
</html>
-->


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <title>HelpDesk::프로필</title>
</head>
<body>
    This is the profile page for {{profile.user}}   
    <div class="container">
        <div class="topMenu" id="joinTopMenu">
            <div class="topMenuWrap">
                <div class="logoIcon">
                    <img src="./style/logo.png" alt="헬프데스크 이미지 로고">
                </div>
                <div class="logoTxt">
                    <img src="./style/logoTxt.png" alt="헬프데스크 텍스트 로고">
                </div>
            </div>
        </div>
        <div class="contents">
            <div class="contentsTab">
                <div class="contentsTabBar">
                    <div class="profileMenu"><a href="{% url 'profile' %}">Introduce</a></div>
                    <div class="profileMenu" id="onLoad"><a href="{% url 'profileQuestions' %}">Questions</a></div>
                    <div class="profileMenu"><a href="{% url 'profileAnswers' %}">Answers</a></div>
                </div>
            </div>
            <div class="contentsLeft">
                <div class="profilePicture">
                    <div class="profileImg">
                        <br />
                        {% if profile.image %}
                        <img src = "{{ profile.image.url }}" width="200" height="200" />
                        {% else %}
                        <img src="{% static 'user.png' %}" width="200" height="200" />
                        {% endif %}
                        <br />
                    </div>
                </div>
            </div>
            <div class="contentsRight">
                .
                <div>
                    <!--내 질문<br>-->
                    {% for question in question_list %}
                        {% if question.author == profile.user %}
                            <div>
                                <a href=""> {{question.subject}} </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                <div>
            </div>
        </div>
    </div>
</body>
</html>