{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <title>HelpDesk::프로필</title>
</head>
<body>
    <div class="container">
        <div class="topMenu" id="joinTopMenu">
            <a href="{% url 'index' %}">
                <div class="topMenuWrap">
                    <div class="logoIcon">
                        <img src="/static/style/logo.png" alt="헬프데스크 이미지 로고">
                    </div>
                    <div class="logoTxt">
                        <img src="/static/style/logoTxt.png" alt="헬프데스크 텍스트 로고">
                    </div>
                </div>    
            </a>
        </div>
        <div class="contents">
            <div class="contentsTab">
                <!-- <div class="contentsTabBar">
                    <div class="profileMenu">Introduce</div>
                    <div class="profileMenu">Questions</div>
                    <div class="profileMenu">Answers</div>
                </div> -->
            </div>
            <div class="contentsLeft">
                <div class="profilePicture">
                    <div class="">        
                        {% if profile.image %}
                        <img src = "{{ profile.image.url }}" width="300" height="300" />
                        {% else %}
                        <img src="{% static 'user.png' %}" width="300" height="300" />
                        {% endif %}</div>
                    <div class="profileReset"><input type="button" value="업로드" style="visibility:hidden">
                    </div>
            </div>
                <div class="shortInfo">
                    <div class="shortInfoLeft">
                        <p>닉네임</p>
                        <p>이메일</p>
                        <p>티어</p>
                        <p>기관</p>
                    </div>
                    <div class="shortInfoRight">
                        <div class="shortInfoRight">
                            <p>{{profile.nickname}}</p>
                            <p>{{user.email}}</p>
                            <p>
                                {% if 3 >= profile.adopted_answer %}
                                    브론즈
                                {% elif 10 >= profile.adpoted_answer %}
                                    실버
                                {% else %}
                                    골드
                                {% endif %}
                            </p>
                            <p>{{profile.school}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentsRight">
                <!-- <div class="interactionBar">

                </div> -->
                <div class="introduceBar">
                    <div class="introduceBarHead"><h2>Introduce</h2></div>
                    <div class="introduceBarContents">
                        <div class="introduceBarContentsTop">
                            <div class="introduceCategory">
                                <p>Github</p>
                                <br>
                                <p>내 한마디</p>
                            </div>
                            <div class="introduceCategoryLink">
                                <p>{{profile.git_address}}</p>
                            </div>
                        </div>
                        <div class="introduceBarContentsBottom">
                            <textarea name="자기소개" id="introduce" cols="30" rows="10" placeholder={{profile.bio}}></textarea>
                            <!--<input type="textarea" placeholder="자기소개를 적어주세요.">-->
                        </div>
                        <div class="introduceButtons">
                            <a href="../profile/update_profile">
                                <input type="button" value="수정하기">
                            </a>
                        </div>
                        <div class="introduceBarHead"><h2>My Questions</h2></div>
                        <div>
                            채택 받은 나의 답변수 : {{profile.adopted_answer}}
                        </div>
                        {% if user == profile.user %}
                        <div>
                            내 질문
                            {% for question in question_list %}
                                {% if question.author == profile.user %}
                                    <div>
                                        <a href=""> {{question.subject}} </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}            
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</body>
</html>